parameters:
    level: 0
    autoload_directories:
        - Api
        - Block
        - Controller
        - Cron
        - Helper
        - Logger
        - Model
        - Observer
        - Plugin
        - Setup
        - Ui
        - view
    excludes_analyse:
        - 'vendor'
    ignoreErrors:
        - '#invalid typehint#'
    reportUnmatchedIgnoredErrors: false